@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom styles for the form inputs */

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    

}


.form-control.border-bottom {
    border: none;
    border-bottom: 2px solid orange;
    border-radius: 0;
    box-shadow: none;
}

.input-group-text {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Add more space below the modals */
.card.mb-5 {
    margin-bottom: 5rem !important;
}

.btn-success {
    background-color: #28a745; /* Green */
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.btn-warning {
    background-color: #fd7e14; /* Orange */
    border-color: #fd7e14;
}

.btn-warning:hover {
    background-color: #e96d08;
    border-color: #e96d08;
}
