@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Custom styles for the form inputs */

body{
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: white;
    

}


.form-control.border-bottom {
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-shadow: none;
}

.input-group-text {
    background-color: transparent;
    border: none;
    cursor: pointer;
}

/* Add more space below the modals */
.card.mb-5 {
    margin-bottom: 5rem !important;
}